html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Source Sans Pro", sans-serif;
}

img {
    max-height: 100%;
    max-width: 100%;
}

a {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style: none;
}

div.text-center {
    width: 100%;
    text-align: center;
}

div.center {
    width: 100%;
    display: flex;
    justify-content: center;
}


/*
        Row Logic
 */

div.container {
    width: 100%;
}

div.row {
    display: flex;
    flex-wrap: wrap;
}

div.column-0 {
    width: 1%;
}

div.column-1 {
    width: 8.33333333%;
}

div.column-2 {
    width: 16.66666667%;
}

div.column-3 {
    width: 25%;
}

div.column-4 {
    width: 33.33333333%;
}

div.column-5 {
    width: 41.66666667%;
}

div.column-6 {
    width: 50%;
}

div.column-7 {
    width: 58.33333333%;
}

div.column-8 {
    width: 66.66666667%;
}

div.column-9 {
    width: 75%;
}

div.column-10 {
    width: 83.33333333%;
}


div.column-11 {
    width: 91.66666667%;
}

div.column-12 {
    width: 100%;
}

/*
        Scroll Bar
 */
html::-webkit-scrollbar {
    width: 0.25rem;
    background: transparent;
}

html::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

html::-webkit-scrollbar-thumb {
    background-color: #ad0000;
    border-radius: 48px;
}


/*
        NavBar
 */
header {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    background: rgb(255, 255, 255);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);


    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

}

header nav div.right {
    display: none;
}

header div img {
    padding: 0.3rem 0.3rem;
}

nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav ul {
    display: flex;
}

nav ul li a {
    margin: 0.25rem 1rem;
    padding: 0.5rem 1rem;
    border-radius: 48px;
    color: black;
}

nav ul li a.active,
nav ul li a:hover {
    background: #5c1010;
    color: white;
}

nav img {
    height: 3.5rem;
}

/*
        Section Generics
 */

.section-title {
    display: inline-block;
}

.section-title:after {
    content: '';
    border-radius: 48px;
    width: 4rem;
    height: 0.5rem;
    background: #db0000;
    margin: 0.5rem auto 0;
    display: block;
}

section {
    padding: 2.5rem 0 5rem 0;
}

section:not(#header-section, .style-2) {
    background: #fafafa;
}

.style-2 {
    background: #f2f2f2;
}

section a {
    padding: 0.5rem 1rem;
    border-radius: 48px;
    background: #c12828;
}

section a:hover {
    background: #972020;
}

/*
    Header Section
 */

section#header-section {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

    background: url("../img/header/background.png") no-repeat center center;
    background-size: cover;

    color: white;
}

section#header-section h1 {
    font-size: xx-large;
    font-weight: bold;
    margin: 0;
    max-width: 95%;
}


section#header-section h1:after {
    content: '';
    border-radius: 48px;
    width: 20.55rem;
    max-width: 90%;
    height: 0.25rem;
    background: rgb(255, 255, 255);
    margin: 0 auto;
    display: block;
}


section#header-section p {
    font-size: 1.3rem;
    margin: 0.25rem 0 0.25rem 0;
}

/*
        About us
 */

section#about-section,
section#our-team-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

section#about-section div.about-us {
    width: 40%;
}

/*
        Our Team
 */

section#our-team-section div.team-members {
    display: flex;
    flex-wrap: wrap;
}

section#our-team-section div.team-members div.team-member {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1rem 1rem 1rem 1rem;
    border-radius: 48px;
    padding: 1rem 2rem;
    box-shadow: 0 0 8px #888888;
}

section#our-team-section div.team-members div.team-member h3 {
    margin: 0.75rem 0 0 0;
}

section#our-team-section div.team-members div.team-member p {
    margin: 0.75rem 0 0.75rem 0;
}

section#our-team-section div.team-members div.team-member img {
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid black;
}

/*
        Clients
 */

section#clients-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

section#clients-section div.clients div.client div.ratings i.yellow {
    color: #ffb500;
}

section#clients-section div.clients div.client a {
    margin: 1rem auto auto auto;
}

section#clients-section div.clients {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin: 2.5rem 0 0 0;
}

section#clients-section div.clients div.client {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    border-radius: 48px;
    padding: 1rem 2rem;
    box-shadow: 0 0 8px #888888;
}

section#clients-section div.clients div.client img {
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid black;
}

/*
        Contact Section
 */

section#contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section#contact-section form {
    width: 40%;
    display: flex;
    padding: 1rem 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: white;
    border-radius: 48px;
    box-shadow: 0 0 7px rgba(136, 136, 136, 0.84);
}

section#contact-section form input,
section#contact-section form textarea {
    font-family: 'Roboto', sans-serif;
    border: 1.5px solid black;
    border-radius: 48px;
    width: 45%;
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
}

section#contact-section form textarea {
    height: 8rem;
    border-radius: 24px;
    resize: none;
}

section#contact-section form input[type=submit] {
    font-size: medium;
    color: white;
    width: auto;
    padding: 0.5rem 1rem;
    border-radius: 48px;
    border: none;
    background: #c12828;
}

section#contact-section form input[type=submit]:hover {
    background: #972020;
}

#contact-section div.messages {
    width: 80%;
    margin: 0 10% 0 10%;
    color: white;
    text-align: center;
}

#contact-section div.messages div {
    border-radius: 48px;
}

#contact-section div.messages p {
    padding: 1rem;
}

#contact-section div.messages .error {
    background: red;
}

#contact-section div.messages .success {
    background: limegreen;
    color: black;
}

/*
        Footer
 */

footer {
    background: #2d2b2b;
    color: white;
    box-shadow: 0 0 7px rgba(136, 136, 136, 0.84);
    padding: 1rem 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer div.container {
    width: 90%;
    margin: 0 5% 0.5rem 5%;
}

footer h4 {
    margin: 0 0 0.5rem 0;
}

footer ul {
    padding: 0 0.5rem;
    margin: 0 0 0 0;
}

footer a:hover {
    color: #b13b3b;
}

footer ul li {
    display: flex;
    align-items: center;
}

footer i.fa-chevron-right {
    font-size: 0.5rem;
    margin: 0 0.5rem 0 0;
}

footer div.social-networks a i {
    border-radius: 6px;
    background: #972020;
    text-align: center;
    padding: 0.75rem 0.75rem;
}

footer div.social-networks a i:hover {
    color: white;
    background: #8b1f1f;
}

footer div[class^="column-"] {
    margin: 1rem auto auto;
}

footer .row {
    width: 90%;
    margin: 0 5%;
}

footer p {
    width: 100%;
    text-align: center;
    background: rgba(10, 10, 10, 0.19);
    margin: 0.75rem 0 0 0;
    padding: 0.5rem 0;
}


/*
        Privacy Policy & TOS
 */

section#privacy-policy-section:not(.section-header),
section#tos-section:not(.section-header) {
    text-align: center;
}

section#privacy-policy-section p:not(.section-header),
section#privacy-policy-section ul:not(.section-header),
section#tos-section p:not(.section-header),
section#tos-section ul:not(.section-header) {
    width: 50%;
    margin: 0 25%;
    text-align: initial;
}

section#privacy-policy-section a,
section#tos-section a
{
    padding: 0;
    margin: auto;
    background: none;
    text-decoration: underline;
    color: black;
}

/*
        Media Queries
 */

@media only screen and (max-width: 992px) {
    section#privacy-policy-section p:not(.section-header) {
        width: 90%;
        margin: 0 5%;
        text-align: initial;
    }
    section#privacy-policy-section ul:not(.section-header),
    section#tos-section ul:not(.section-header) {
        margin: 0;
        padding: 0.5rem 1.5rem;
        width: 80%;
    }

    section#contact-section form {
        width: 100%;
    }

    section#contact-section form input,
    section#contact-section form textarea {
        width: 80%;
    }

    section#about-section div.about-us {
        width: 95%;
    }

    .empty-col {
        display: none;
    }

    div[class^="column-"] {
        width: 100vw;
    }

    header nav div.right {
        display: block;
    }

    header.is-active {
        height: 100vh;
    }

    header.is-active img {
        display: none;
    }

    header nav ul.is-active {
        left: 0;
    }

    header nav ul.is-active li {
        height: 1rem;
        margin: 2.5rem 0 2.5rem 0;
    }

    header nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: 100%;
        width: 100vw;
        text-align: center;
        margin: 0;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: -200%;
        transition: left .8s cubic-bezier(0, 0, 0.02, 1.03);
        padding: 0;
    }
}